@{
    var BaseUrl = String.Format("http://{0}", @Context.Request.Host);
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<section class="content-header">
    <h1>
        Financial Records
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Financial Recordsr</li>
    </ol>
</section>
